
html,body,.centralBox ,.centralBox-withMenu{
    min-height: 100%;
    height: 100%;
}

body {
background-color:whitesmoke;
margin:0;
padding:0;
overflow: hidden;
}

.upperBox{  
    position:relative;
    width:100%;
    height:20%;
    background-color:#e5273c;
    display:block;
    box-shadow: -1px 3px 7px -3px rgba(64,64,64,1);
    text-align: center;
}

.upperBox a img{
    height: 50%;
    margin-top: 1%;
}

.navigationBar{
    position:absolute;
    bottom:0;
    left:12.5%;
    width:75%;
    box-shadow: 3px 4px 5px -4px rgba(64,64,64,1); 
    margin-right: auto;
    margin-left: auto;
    background-color:darkgray;

    
}

.navigationBar ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    text-align: center;
    
}

.navigationBar li {
    float: left;
}

.navigationBar li:nth-child(6){
    border-left: 1px solid #bbb;

}

.navigationBar ul li a{
    display:block;
    color:white;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 17px;
}

.navigationBar .table{
    display:table;
    margin:0 auto;
}

.centralBox{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    background-color:gainsboro;
    box-shadow: 3px 4px 5px -4px rgba(64,64,64,1);    
}


.centralBox-withMenu{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    background-color:gainsboro;
    box-shadow: 3px 4px 5px -4px rgba(64,64,64,1);    
}


.sideMenu{
    display:inline-block;
    min-height:100%;
    height: 100%;
    vertical-align:top;
    margin-left:0;
    width:12.15%;
    background-color: gainsboro;
    box-shadow: 3px 4px 5px -4px rgba(64,64,64,1);
    text-align: center;
    
}

.sideMenu ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.sideMenu li:first-child{
    border-bottom: 2px solid #bbb;
}

.sideMenu li{
   border-bottom: 1px solid #bbb;  
}

.sideMenu ul li img{
    height:20px;
    padding-right: 10px;

}


.sideMenu ul li a{
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}
.sideMenu ul li a:hover {
    background-color: #e5273c;
    color:white;
}




.underlineFromCenter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.underlineFromCenter:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #e5273c;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underlineFromCenter:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


.newElementBox{
    display:inline-block;
    margin-left:3%;
    margin-top: 5%;
    height:50%;
    width:45%;
    background-color: lightgray;
    box-shadow: 3px 4px 5px -4px rgba(64,64,64,1); 
    vertical-align: top;
    text-align: center;
}


.newElementBox p{
    font-size: 22px;  
}

.newPhone{
    display:inline-block;
    max-height: 100%;
}

.fetchImg{
    display: inline;
    max-height:100%;
    height:auto;
}

.dividerBar{
    display:block;
    margin-top:2%;
    width:93.5%;
    margin-left:3%;
    height: 1px;
    background-color: dimgray;

}


.socialMediaIcons{
    text-align: center;
}

.socialMediaIcons ul{
    display:inline-block;
    list-style-type: none;
    padding:0;
    margin:0;
    text-align: center;
}

.socialMediaIcons ul li{
    float:left;
    display:block;
    padding:12px 3px;
}

#breadcrumb {
  list-style: none;
  display: inline-block; 
  margin-left: -38px;
  margin-top:5px;
}

#breadcrumb li {
  float: left;
  
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background:darkgray;
  text-decoration: none;
  position: relative;
  height: 20px;
  line-height: 20px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
  background-color: darkgray;
}
#breadcrumb li:nth-child(even) a:before {
  border-color:darkgray;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: darkgray;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid darkgray;
  border-width: 10px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: darkgray;
}
#breadcrumb li a:hover {
  background-color: #e5273c;
}
#breadcrumb li a:hover:before {
  border-color: #e5273c;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #e5273c;
}
#breadcrumb li a:active {
  background-color: #af2030;
}
#breadcrumb li a:active:before {
  border-color: #af2030;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #af2030;
}

.deviceCategories{
    text-align: center;
}

.listLine{
    display:inline-block;
    list-style-type: none;
    padding:0;
    margin:0;
}

.deviceCategories ul li{
    float:left;
    display:block;
    padding:0px 65px;

}

.deviceCategories p{
    margin-top: -1%;
    font-size: 18px;
    color:black;
}

.deviceCategories a{
    text-decoration: none;
}




