html,body,.centralBox {
    min-height: 100% !important;
    height: 100%;
}

body {
background-color:whitesmoke;
margin:0;
padding:0;

}

.upperBox{  
    width:100%;
    margin-top:-16px;
    height:180px;
    background-color:#e5273c;
    display:block;
    box-shadow: -1px 3px 7px -3px rgba(64,64,64,1);
    text-align: center;
    padding-top: 15px;
}


.centralBox{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:960px;
    margin-top:-3%;
    background-color: gainsboro;
    box-shadow: 3px 4px 5px -4px rgba(64,64,64,1);    
}


.navigationBar{
    width:100%;
    box-shadow: 3px 4px 5px -4px rgba(64,64,64,1);    
}

.navigationBar ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color:darkgray;
    text-align: center;
    
}

.navigationBar li {
    float:left; 
}

.navigationBar li:nth-child(6){
    border-left: 1px solid #bbb;

}

.navigationBar ul li a{
    display:block;
    color:white;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 17px;
}

.navigationBar ul li a:hover{
    background-color:gray;
}




