html,body,.centralBox {
    min-height: 100%;
    height: 100%;
}

body {
background-color:whitesmoke;
margin:0;
padding:0;

}

.upperBox{  
    width:100%;
    margin-top:-16px;
    height:180px;
    background-color:#e5273c;
    display:block;
    box-shadow: -1px 3px 7px -3px rgba(64,64,64,1);
    text-align: center;
    padding-top: 15px;
}


.centralBox{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:960px;
    margin-top:-3%;
    background-color:gainsboro;
    box-shadow: 3px 4px 5px -4px rgba(64,64,64,1);    
}


.navigationBar{
    width:100%;
    box-shadow: 3px 4px 5px -4px rgba(64,64,64,1);    
}

.navigationBar ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color:darkgray;
    text-align: center;
    
}

.navigationBar li {
    float:left; 
}

.navigationBar li:nth-child(6){
    border-left: 1px solid #bbb;

}

.navigationBar ul li a{
    display:block;
    color:white;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 17px;
}
.underlineFromCenter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.underlineFromCenter:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #e5273c;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underlineFromCenter:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


.newElementBox{
    display:inline-block;
    margin-left:3%;
    margin-top: 5%;
    height: 45%;
    width:45%;
    background-color: lightgray;
    box-shadow: 3px 4px 5px -4px rgba(64,64,64,1); 
}

.newElementBox p{
    text-align: center;
    font-size: 22px;
    
}

.dividerBar{
    display:block;
    margin-top:3%;
    width:93.5%;
    margin-left:3%;
    height: 1px;
    background-color: dimgray;

}

.socialMediaIcons{
    text-align: center;
}

.socialMediaIcons ul{
    display:inline-block;
    list-style-type: none;
    padding:0;
    margin:0;
    text-align: center;
}

.socialMediaIcons ul li{
    float:left;
}

.socialMediaIcons ul li{
    display:block;
    padding:12px 3px;
}



